$primary-color : #2a2f32;
$secondary-color : #056162;
$text-color: #ffff;
$header-hieght: 65px;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $text-color;
    font-family: 'Roboto';
}
.emoji-picker-react .emoji-group:before{
    background-color: transparent !important;
}
.emoji-picker-react .emoji-categories button{
    filter: brightness(0) invert(1) !important;
}
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background-color: lighten($primary-color, 10%);
    border-radius: 3px;
}
.__displayNone{
    display: none;
}
.__block{
    display: block;
}
.__selected{
    background-color: lighten($primary-color,8%);
}
.__attachIcon{
    transform: rotate(45deg)
}
.__icon{
    color: $text-color;
    margin: 0 10px;
    cursor: pointer;
}
.__icon__arrow{
    background-color: transparent;
    z-index: -10;
}
.__icon__search{
    z-index: 10;
}
.__icon__container{
    transition: all .5s ease-in ;
}
.__icon__small{
    @extend .__icon;
    cursor: auto;
    display: block;
}
.loading__icon{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    background-color: $secondary-color;
}
.h4__name{
    color: $text-color ;
    margin-left: 15px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: .6px;
}

.input__text{
    outline: none;
    border: none;
    padding: 5px 8px;
    background-color: lighten($primary-color,8%);
    color: $text-color;
    font-family: 'Roboto';
    font-size: 14px;
    width: 100%;
    margin: 5px ;
}
.__flexLeft{
    justify-content: flex-start;
}
.__flexRight{
    justify-content: flex-end;
}
.__backgroundRight{
    background-color: $secondary-color!important;
}
.__time{
    font-size: 10px;
    margin-left: 10px;
}
.chatBubble{
    width: 100%;
    display: flex;
    padding: 5px;
    &__container{
        display: flex;
        max-width: 50%;
        position: relative;
        justify-content: space-between;
        padding: 8px 7px;
        border-radius: 10px;
        background-color: $primary-color;
            .__chatBubble__message{
                font-size: 15px;
                font-weight: 300 ;
                padding: 5px;
            }
            .__messageInfo{
                align-self: flex-end;
                display:flex;
                justify-content: flex-end;
                align-items: flex-end;
                height: 100%;
            }
    }
}

.App{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    .contacts__container{
        flex: .35;
        height: 100vh;
        background-color: darken($primary-color,3%);
        border-right: lighten($primary-color, 10%) .5px solid;
        .contacts__header{
            display: flex;
            height: $header-hieght;
            padding: 15px;
            background-color: $primary-color;
            align-items: center;
            &__profil{
                flex:.7;
            }
            &__icon{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex:.3;
            }
        }
        .contacts__search{
            height: 40px;
            border-bottom: 1px solid lighten($primary-color,10%);
            .search__container{
                display: flex;
                align-items: center;
                background-color: lighten($primary-color,8%);
                height: 35px;
                border-radius: 17.5px;
                margin: 5px 8px;
                overflow: hidden;
                position: relative;
                .__icon__container{
                    position: absolute;
                    left: 0px;
                }
                .input__text{
                    @extend .input__text;
                    margin-left: 40px;
                }
            }
            .search__container:focus-within{
                @extend .search__container;
                .__icon__search{
                    transform: rotate(360deg);
                    background-color: transparent;
                    z-index: -10;
                }
                .__icon__arrow{
                    transform: rotate(360deg);
                    background-color: lighten($primary-color,8%);
                    z-index: 10;
                }
            }
        }
    }
    .conversation__container{
        flex: .65;
        background-image: url("image/whatsappbg.jpg");
        background-repeat: repeat;
        background-size: cover;
        display: flex;
        max-height: 100vh;
        flex-direction: column;
        position: relative;
        .conversation__header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 18px;
            width: 100%;
            height: $header-hieght;
            background-color: $primary-color;

          &__profil{
              display: flex;
              align-items: center;
              flex: .8;
              cursor: pointer;
          } 
          &__icons{
              display: flex;
              flex:.2;
              justify-content: flex-end;
              align-items: center;
          }
        }
        .conversation__scrollContainer{
            padding: 0 30px;
            display: flex;
            flex: 1;
            flex-direction: column;
            height: 100%;
            overflow-y: scroll;
        }
        .conversation__chatInputContainer{
            height: $header-hieght;
            background-color: $primary-color ;
            display: flex;
            align-items: center;
            z-index: 90;
            width: 100%;
            input{
                height: 45px;
                border-radius: 22.5px;
                padding-left: 18px;
            }
        }
        //this class is proper to emoji-picker-react component
        .emoji-picker-react{
            width: 100%;
            height: 45%;
            animation: emojiTransition 1s forwards linear;
        }
        &__uploadPicker {
        height: 260px;
        width: 60px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
        position: absolute;
        bottom: 10%;
        left: 5%;
        z-index: 50;
        .child {
            width: 50px;
            height: 50px;
            margin: 5px;
            border-radius: 25px;
            position: absolute;
            top: 100%;
            background-size: contain;
            cursor: pointer;
        }
        }
        $child-num: 4;
        @for $i from 1 through $child-num {
        .child:nth-child(#{$i}) {
            animation: animated-#{$i}
            1s
            cubic-bezier(0.56, -0.08, 0.58, 1.67)
            (0.3s * $i)
            forwards;
            margin: 10px auto;
            background-image: url(./image/picker-#{$i}.svg);
        }

        @keyframes animated-#{$i} {
            0% {
            top: 100%;
            transform: scale(0);
            }
            100% {
            top: (25% * ($i - 1));
            transform: scale(1);
            }
        }
        }

    }
}
@keyframes emojiTransition{
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-112%);
    }
} 
.contacts__list{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 130px;
}
.chatMessage__container{
    display: flex;
    align-items: center;
    padding: 8px 10px;
    width: 100%;
    height: 70px;
    .chatMessage__avatar{
        flex: .15;
    }
    .chatMessage__contactInfo{
        display: flex;
        flex: .85;
        height: 70px;
        justify-content: center;
        align-items:flex-start ;
        flex-direction: column;
        margin-left: 6px;
        border-bottom: 1px solid lighten($primary-color,10%);
        &__nameTime{
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 5px;
            .contact__name{
                margin: 0;
            }
        }
        span{
            font-size: 12px;
            font-weight: 100;
            display: block;
        }
        &__message{
            font-size: 14px;
            font-weight:300 ;
        }
    }
}
.chatMessage__container:hover {
    @extend .__selected;
}
.chatMessage__container__selected{
    @extend .__selected;
}